
.accessibility-choice-save-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--teralarge);
  margin: 0 var(--megalarge);
}

.accessibility-choice-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales */
  gap: var(--gigalarge) var(--petalarge); /* 64px vertical, 112px horizontal */
  align-items: start; /* aligne les éléments en haut de chaque cellule */
  width: 100%;
}

.mode-container {
  display: flex;
  width: 256px;
  height: 110px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;
}

.toggle-switch.active {
  background-color: #ff8c00;
}

.toggle-switch.active .toggle-circle {
  left: 32px;
}

#slider {
  width: 200px;
  height: 8px;
  margin-top: 20px;
  appearance: none;
  background: linear-gradient(to right, orange 50%, #ccc 50%);
  border-radius: 999px;
  outline: none;
  cursor: pointer;
}

/* Webkit (Chrome, Edge, Safari) */
#slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: 0px;
}

/* Firefox */
#slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Firefox track reset */
#slider::-moz-range-track {
  background: transparent;
}

/* Texte */
#text {
  margin-top: var(--kilolarge);
  font-size: var(--microlarge);
}

.clear-container {
  color: var(--black);
  font-family: var(--texte-clear-parameters-font-family);
  font-weight: var(--texte-clear-parameters-font-weight);
  font-size: var(--texte-clear-parameters-font-size);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.custom-button {
  display: flex;
  padding: var(--picolarge) var(--kilolarge);
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  transition: background 0.3s;
}

.custom-button:hover {
  background: var(--dark-primary-color); /* assombri au survol */
}

/* TITRES */
h1 {
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
}

/* TEXTE SECONDAIRE */


.intro-accessibility {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
