


.date {
  color: var(--primary-color);
}

.menu-date-section {
  display: flex;
  padding: 0px var(--teralarge);
  flex-direction: column;
  align-items: center;
  gap: var(--megalarge);
  align-self: stretch;
}

.menu-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--petalarge);
  align-self: stretch;
  flex-wrap: wrap;
}

.menu-block {
  flex: 1 1 45%;
}

.menu-block h3{
  padding: var(--mililarge) 0;
}


.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--microlarge);
}

.menu-list li {
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--primary-color);
  border-radius: var(--picolarge);
  padding: var(--nanolarge);
  background: var(--white);
  gap: var(--microlarge);
}

.menu-list img.icon {
  width: var(--kilolarge);
  height: var(--kilolarge);
  object-fit: contain;
}

.allergenes {
  color: var(--grey);
  margin-top: var(--picolarge);
  font-family: var( --texte-allergenes-font-family);
  font-weight: var( --texte-allergenes-font-weight);
  font-size: var( --texte-allergenes-font-size);
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: var(--microlarge);
  color: var(--white);
  margin-top: var(--megalarge);
}




  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  /* Sub-navigation */
  .subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .subnav span a {
    color: #000;
    text-decoration: none;
  }
  
  .subnav > a {
    /* styles ici */
    color: #f57c00;
    font-weight: bold;
    text-decoration: underline;
  }
  
  
  .subnav a:last-child {
    font-style: italic;
    font-size: 0.9rem;
    text-decoration: none;
  }

 .weekly-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  align-self: stretch;
}